acres==0.5.0
aiohttp==3.9.0b0
aiosignal==1.3.2
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.8.0
argcomplete==3.6.2
asgiref==3.8.1
attrs==25.1.0
azure-ai-formrecognizer==3.3.3
azure-ai-inference==1.0.0b9
azure-ai-ml==1.27.1
azure-common==1.1.28
azure-core==1.32.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-cosmos==4.9.0
azure-functions==1.21.3
azure-identity==1.19.0
azure-keyvault-secrets==4.9.0
azure-mgmt-core==1.5.0
azure-mgmt-storage==22.1.1
azure-mgmt-web==8.0.0
azure-monitor-opentelemetry==1.6.7
azure-monitor-opentelemetry-exporter==1.0.0b38
azure-search-documents==11.5.2
azure-storage-blob==12.24.1
azure-storage-file-datalake==12.18.1
azure-storage-file-share==12.21.0
azurefunctions-extensions-base==1.0.0b2
azurefunctions-extensions-bindings-blob==1.0.0b3
blinker==1.9.0
blis==1.2.1
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
configobj==5.0.9
configparser==7.2.0
cryptography==44.0.2
cymem==2.0.11
demjson3==3.0.6
Deprecated==1.2.18
distro==1.9.0
docstring_parser==0.16
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
etelemetry==0.3.1
fastapi==0.115.13
filelock==3.18.0
filetype==1.2.0
fixedint==0.1.6
Flask==3.1.1
flask-cors==6.0.1
flask-restx==1.3.0
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
google_search_results==2.4.1
googleapis-common-protos==1.70.0
greenlet==3.2.3
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.5.2
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
langchain-core==0.3.44
langchain-text-splitters==0.3.5
langcodes==3.5.0
langdetect==1.0.9
langsmith==0.3.13
language_data==1.3.0
looseversion==1.3.0
lxml==6.0.0
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
microsoft-kiota-abstractions==1.9.2
microsoft-kiota-authentication-azure==1.9.2
microsoft-kiota-http==1.9.2
microsoft-kiota-serialization-form==1.9.2
microsoft-kiota-serialization-json==1.9.2
microsoft-kiota-serialization-multipart==1.9.2
microsoft-kiota-serialization-text==1.9.2
more-itertools==10.7.0
msal==1.31.1
msal-extensions==1.2.0
msgraph-core==1.3.2
msrest==0.7.1
multidict==6.1.0
murmurhash==1.0.12
networkx==3.5
nibabel==5.3.2
nipype==1.10.0
numpy==2.2.4
oauthlib==3.2.2
openai==1.55.3
openpyxl==3.1.5
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-asgi==0.55b1
opentelemetry-instrumentation-dbapi==0.55b1
opentelemetry-instrumentation-django==0.55b1
opentelemetry-instrumentation-fastapi==0.55b1
opentelemetry-instrumentation-flask==0.55b1
opentelemetry-instrumentation-psycopg2==0.55b1
opentelemetry-instrumentation-requests==0.55b1
opentelemetry-instrumentation-urllib==0.55b1
opentelemetry-instrumentation-urllib3==0.55b1
opentelemetry-instrumentation-wsgi==0.55b1
opentelemetry-proto==1.34.1
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.55b1
orjson==3.10.15
packaging==24.2
pandas==2.3.0
pathlib==1.0.1
pillow==11.0.0
portalocker==2.10.1
preshed==3.0.9
promptflow==1.18.1
promptflow-azure==1.18.1
promptflow-core==1.18.1
promptflow-devkit==1.18.1
promptflow-tools==1.6.1
promptflow-tracing==1.18.1
propcache==0.3.0
protobuf==5.29.5
prov==2.1.1
psutil==7.0.0
puremagic==1.30
py-exceptions==1.2.2
pyarrow==20.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydash==7.0.7
PyDocX==0.9.10
pydot==4.0.1
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.30.0
PyMuPDF==1.26.3
pyparsing==3.2.3
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
pytz==2025.2
pywin32==309
pywin32-ctypes==0.2.3
pyxnat==1.6.3
PyYAML==6.0.2
rdflib==7.1.4
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.23.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scikit-learn==1.6.1
scipy==1.15.2
shellingham==1.5.4
simplejson==3.20.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
srsly==2.5.1
starlette==0.46.2
std-uritemplate==2.0.3
strictyaml==1.7.3
tabulate==0.9.0
tenacity==8.5.0
thinc==8.3.4
threadpoolctl==3.6.0
tiktoken==0.7.0
tqdm==4.67.1
traits==7.0.2
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
waitress==3.0.2
wasabi==1.1.3
weasel==0.4.1
webvtt-py==0.5.1
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
